@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212; /* Yeni Spotify Grisi Zemin */
  color: #7e22ce;            /* Yeni Koyu Mor varsayılan */
}

/* Scrollbar Tasarımı */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #282828; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7e22ce; /* Yeni koyu mor */
}